Repository brunogama/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-emojis, lowercase-dirs, validate-manifest, openspec-validate

no-emojis:
  name: Check for emojis (MINDSET Rule 2)
  entry: bin/git/hooks/check-no-emojis
  language: script

lowercase-dirs:
  name: Check directories are lowercase (MINDSET Rule 1)
  entry: bin/git/hooks/check-lowercase-dirs
  language: script
  pass_filenames: false

validate-manifest:
  name: Validate LinkingManifest.json
  entry: bin/git/hooks/validate-manifest
  language: script

openspec-validate:
  name: Validate OpenSpec proposals
  entry: bin/git/hooks/validate-openspec
  language: script

fix(zsh): recompile bytecode after Nix activation
  bin/core/nix-bootstrap
  bin/core/zsh-compile
  tests/integration/core/test_install.bats
Due: no-emojis, lowercase-dirs

feat(nix): manage global agent instructions
  docs/agents/AGENTS.md
  nix/home.nix
Due: no-emojis, lowercase-dirs

feat(nix): configure macOS host settings
  bin/core/nix-bootstrap
  bin/core/nix-configure-host
  install
  nix/darwin.nix
  nix/host.nix
  packages/macos/system-preferences.sh
  tests/integration/core/test_install.bats
Due: no-emojis, lowercase-dirs

ci: test complete macOS installation
  .github/workflows/ci.yml
Due: none

ci: close external pull requests
  .github/workflows/close-prs.yml
Due: none

docs(nix): document host setup workflow
  README.md
Due: no-emojis, lowercase-dirs

fix(ci): run ShellCheck without Docker
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  bin/core/p
  bin/core/r
  bin/credentials/credfile
  bin/git/git-restore-last-savepoint.sh
  bin/git/git-save-all.sh
  bin/git/install-conventional-commit-pre-commit-hook.sh
Due: no-emojis, lowercase-dirs

chore(security): add Gitleaks pre-commit hook
  .pre-commit-config.yaml
Due: no-emojis, lowercase-dirs

chore(git): ignore Serena workspace
  .gitignore
Due: none

fix(home-sync): stabilize daemon validation
  bin/core/home_sync/home_sync/__main__.py
  bin/core/home_sync/home_sync/cli.py
  bin/core/home_sync/home_sync/daemon.py
  bin/core/home_sync/home_sync/dotfiles.py
  bin/core/home_sync/home_sync/git.py
  bin/core/home_sync/tests/test_daemon.py
Due: no-emojis, lowercase-dirs

fix(ci): make validation deterministic
  .github/workflows/ci.yml
  bin/git/hooks/check-lowercase-dirs
  install
  tests/helpers/file-helpers.bash
Due: no-emojis, lowercase-dirs

fix(ci): handle platform-specific tests
  bin/core/home_sync/tests/test_utils.py
  bin/core/nix-configure-host
  tests/integration/core/test_install.bats
Due: no-emojis, lowercase-dirs

test(home-sync): speed up mutation testing
  .github/workflows/ci.yml
  bin/core/home_sync/tests/test_metrics.py
Due: no-emojis, lowercase-dirs

chore(home-sync): clean Python lint findings
  bin/core/home_sync/home_sync/utils.py
  bin/core/home_sync/tests/test_cli.py
  bin/core/home_sync/tests/test_config.py
  bin/core/home_sync/tests/test_dotfiles_setup.py
  bin/core/home_sync/tests/test_git_basic.py
  bin/core/home_sync/tests/test_git_commit.py
  bin/core/home_sync/tests/test_lock.py
  bin/core/home_sync/tests/test_logger.py
Due: no-emojis, lowercase-dirs

fix(review): address Kilo feedback
  README.md
  bin/core/nix-configure-host
  docs/agents/AGENTS.md
  nix/home.nix
  tests/integration/core/test_install.bats
Due: no-emojis, lowercase-dirs

feat(zsh): add fzf history and file shortcuts
  zsh/lib/lazy-load.zsh
Due: no-emojis, lowercase-dirs

fix(zsh): open fzf on plain completion
  zsh/lib/lazy-load.zsh
Due: no-emojis, lowercase-dirs

docs: plan convention-based dotfiles linking
  plans/README.md
  plans/convention-linker-apply.md
  plans/linker-integration-and-retirement.md
  plans/linker-lifecycle-and-migration.md
  plans/linking-conventions-foundation.md
  specs/linking-architecture.md
Due: no-emojis, lowercase-dirs

chore(linker): establish linking migration foundation
  docs/linking-source-inventory.md
  plans/convention-linker-apply.md
  plans/linking-common-tool-source-tree.md
  plans/linking-conventions-foundation.md
  plans/linking-platform-source-tree.md
  plans/linking-shell-core-source-tree.md
  plans/linking-shell-support-source-tree.md
  tests/integration/core/test_link_dotfiles.bats
Due: no-emojis, lowercase-dirs

feat(linker): migrate shell core source tree
  LinkingManifest.json
  home/.config/starship.toml
  home/.config/zsh/.zpreztorc
  home/.config/zsh/.zprofile
  home/.config/zsh/.zshrc
  home/.zshenv
  nix/home.nix
  plans/linking-shell-core-source-tree.md
  tests/integration/core/test_linking_source_layout.bats
Due: no-emojis, lowercase-dirs, validate-manifest

feat(linker): migrate shell support source tree
  LinkingManifest.json
  bin/ide/open-dotfiles-config
  home/.config/zsh/completion/_pi
  home/.config/zsh/completion/git-ignore-completion
  home/.config/zsh/lib/lazy-load.zsh
  home/.config/zsh/personal-config.zsh
  home/.config/zsh/work-config.zsh
  nix/home.nix
  plans/linking-shell-support-source-tree.md
  tests/integration/core/test_linking_source_layout.bats
Due: no-emojis, lowercase-dirs, validate-manifest

Path conditions:
  no-emojis: any file but: ^(\.git|\.claude|ai_docs/legacy)
  lowercase-dirs: any file but: ^(\.git|\.claude)
  validate-manifest: any of: LinkingManifest\.json$
  openspec-validate: any of: openspec/changes/.*\.(md|yaml)$
